{% extends "catalogue/browse.html" %}

{% load i18n %}
{% load category_tags %}
{% load product_tags %}
{% load static %}

{% block title %}
    {{ category.name }} | {{ block.super }}
{% endblock %}

{% block description %}
    {{ category.description|default:""|striptags }}
{% endblock %}

{% block headertext %}

{% endblock %}

{% block breadcrumbs %}

{% endblock breadcrumbs %}


{% block page_header_title %}
    <h1>{{ category.name }} <small class="hidden-xs"></small></h1>
    <p class="page-header-desc">{{ category.description|safe }}</p>
{% endblock %}
{% block page_header_breadcrumb %}
    <ol class="breadcrumb">
        <li><a href="{{ homepage_url }}">{% trans "Home" %}</a></li>
            {% for category in category.get_ancestors %}
                <li><a href="{{ category.get_absolute_url }}">{{ category.name }}</a></li>
            {% endfor %}
        <li class="active">{{ category.name }}</li>
    </ol>
{% endblock %}

{% block column_left %}
    {{ block.super }}
{% endblock %}

{% block column_right %}
        <div class="filter-row clearfix">
            <div class="filter-row-right">
                <span class="filter-row-label">{% trans "Sort By:" %}</span>
                <div class="btn-group clearfix sort-by-button-group">
                    <button class="btn btn-sm btn-custom btn-border" data-sort-value="original-order">{% trans "Default" %}</button>
                    <button class="btn btn-sm btn-custom btn-border" data-sort-value="name">{% trans "Name" %}</button>
                    <button class="btn btn-sm btn-custom btn-border" data-sort-value="priceUp">{% trans "Price" %}&nbsp;&nbsp;<i class="fa fa-long-arrow-up"></i></button>
                    <button class="btn btn-sm btn-custom btn-border" data-sort-value="priceDown">{% trans "Price" %}&nbsp;&nbsp;<i class="fa fa-long-arrow-down"></i></button>
                    <button class="btn btn-sm btn-custom btn-border" data-sort-value="review">{% trans "Review" %}</button>
                </div><!-- End .normal-selectbox-->
            </div><!-- End .filter-row-left -->
        </div><!-- End .filter-row -->

        <div class="row masonry-grid-fitrows filter-grid sort-grid">
            {% for product in products %}
                {% render_product product %}
            {% endfor %}
        </div><!-- End .row -->

        <div class="mb30"></div><!-- space -->

        {% include "partials/pagination.html" %}
{% endblock %}
