{% extends "customer/baseaccountpage.html" %}
{% load i18n %}

{% block breadcrumbs %}
    <ol class="breadcrumb">
        <li>
            <a href="{{ homepage_url }}">{% trans 'Home' %}</a>
        </li>
        <li>
            <a href="{% url 'customer:summary' %}">{% trans 'Account' %}</a>
        </li>
        <li>
            <a href="{% url 'customer:wishlists-list' %}">{% trans 'Wish Lists' %}</a>
        </li>
        <li>
            <a href="{% url 'customer:wishlists-detail' key=wishlist.key %}">{{ wishlist.name }}</a>
        </li>
        <li class="active">{% trans "Delete?" %}</li>
    </ol>
{% endblock %}

{% block column_right %}
    <form action="." method="post">
        {% csrf_token %}
        <p>
            {% blocktrans with name=wishlist.name %}
                <h1 class="h2 title-border custom mb30">Are you sure you want to delete {{ name }}?</h1>
            {% endblocktrans %}
        </p>

        <div class="form-group">
            <button type="submit" class="btn btn-danger" data-loading-text="{% trans 'Deleting...' %}">{% trans 'Delete' %}</button>
            &nbsp;&nbsp; <a href="{% url 'customer:wishlists-list' %}" class="btn btn-dark">{% trans 'Cancel' %}</a>
        </div>
    </form>
{% endblock %}

