{% load i18n %}

<footer id="footer" class="footer-custom" role="contentinfo">
    <div id="footer-inner">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <div class="corporate-widget">
                            <span class="footer-logo">All Beauty</span><!-- End .footer-logo -->
                            <p>We are a creative company, who works with passion and love. We provide the best services you need. We help you to get better...</p>

                            <address>
                                Written by <a href="mailto:puffde@gmail.com">Eon Dean</a>.<br>
                                Visit us: <a href="//www.eonythemes.com">Eonythemes.com</a><br>
                                Email: <a href="mailto:puffde@gmail.com">puffde@gmail.com</a><br>
                                Box 26010, Eskisehir - Turkey<br><br>
                                <abbr title="Templates and Themes">EonyThemes</abbr> &copy;
                            </address>

                            <span class="social-icons-label">Find Us at:</span>
                            <div class="social-icons">
                                <a href="#" class="social-icon icon-facebook" title="Facebook">
                                    <i class="fa fa-facebook"></i>
                                </a>
                                <a href="#" class="social-icon icon-twitter" title="Twitter">
                                    <i class="fa fa-twitter"></i>
                                </a>
                                <a href="#" class="social-icon icon-google-plus" title="Google Plus">
                                    <i class="fa fa-google-plus"></i>
                                </a>
                                <a href="#" class="social-icon icon-skype" title="Skype">
                                    <i class="fa fa-skype"></i>
                                </a>
                                <a href="#" class="social-icon icon-linkedin" title="Linkedin">
                                    <i class="fa fa-linkedin"></i>
                                </a>
                            </div><!-- End .social-icons -->

                        </div><!-- End corporate-widget -->
                    </div><!-- End .widget -->
                </div><!-- End .col-md-3 -->
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h4>Categories</h4>
                        <ul class="links">
                            <li><a href=""><i class="fa fa-angle-right"></i>Templates (10)</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i>Business (8)</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i>Corporate (7)</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i>Wordpress Themes (5)</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i>Wordpress Plugins (4)</a></li>
                            <li><a href=""><i class="fa fa-angle-right"></i>Bootstrap Components (14)</a></li>
                        </ul>
                    </div><!-- End .widget -->

                    <div class="widget">
                        <h4>TagCloud</h4>
                        <div class="tagcloud clearfix">
                            <a href="#">Bootstrap</a>
                            <a href="#">Wordpress</a>
                            <a href="#">Html5</a>
                            <a href="#">Css3</a>
                            <a href="#">Jquery</a>
                            <a href="#">Multipurpose</a>
                            <a href="#">Corporate</a>
                            <a href="#">Creative</a>
                        </div><!-- End .tagcloud -->
                    </div><!-- End .widget -->
                </div><!-- End .col-md-3 -->

                <div class="clearfix visible-sm"></div><!-- End .clearfix -->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h4>Twitter Feed</h4>
                        <div class="twitter-feed-widget">

                        </div><!-- End .twitter-feed-widget -->
                    </div><!-- End .tagcloud -->
                </div><!-- End .col-md-3 -->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h4>Flickr Feed</h4>
                        <ul class="flickr-widget flickr-widget-two clearfix"></ul>
                    </div><!-- End .widget -->
                    <div class="widget">
                        <h4>Newsletter</h4>
                        <div class="newsletter-widget">
                            <p>Join our newsletter and follow the latest trends of bootstrap.</p>
                            <form action="#" id="newsletter-widget-form">
                                <input type="email" class="form-control " placeholder="Join our newsletter..." required>
                                <button type="submit" title="Join Now!" class="btn btn-custom "><i class="fa fa-envelope"></i></button>
                            </form>
                        </div><!-- End .newsletter-widget -->
                    </div><!-- End .widget -->
                </div><!-- End .col-md-3 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #footer-inner -->
    <div id="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-md-push-6">
                    <ul class="footer-menu">
                        <li><a href="aboutus.html">About Us</a></li>
                        <li><a href="#">Search</a></li>
                        <li><a href="faqs.html">Faqs</a></li>
                        <li><a href="knowledge.html">Knowledge</a></li>
                        <li><a href="contact.html">Contact Us</a></li>
                    </ul>
                </div><!-- End .col-md-6 -->
                <div class="col-md-6 col-md-pull-6">
                    <p class="copyright">Designed and Developed by Eon.  All rights reserved. &copy; <a href="#">www.eonythemes.com</a></p>
                </div><!-- End .col-md-6 -->
            </div><!-- End .row -->
        </div><!-- End .container -->
    </div><!-- End #footer-bottom -->
</footer><!-- End #footer -->