{% extends "customer/baseaccountpage.html" %}


{% load i18n %}

{% block extra_breadcrumbs %}
    <li>
        <a href="{% url 'customer:address-list' %}">{% trans 'Address book' %}</a>
    </li>
{% endblock %}

{% block column_right %}
<form method="post">
    {% csrf_token %}
    <h1 class="h3 title-border custom mb30">{% trans 'Are you sure you want to delete this address?' %}</h1>

    <div class="divider line"></div>

    <p><strong>{{ object.summary }}</strong></p>

    <div class="divider line"></div>

    <div class="form-group form-actions">
        <button type="submit" class="btn btn-danger" data-loading-text="{% trans 'Deleting...' %}">{% trans 'Delete' %}</button>
        &nbsp;&nbsp; <a href="{% url 'customer:address-list' %}" class="btn btn-dark">{% trans 'Cancel' %}</a>
    </div>
</form>
{% endblock %}

