{% load i18n %}
{% load product_tags %}

{% block content %}
<section class="well well-blank">
    <div class="sub-header">
        <h3>{{ promotion.name }}</h3>
    </div>

    {{ promotion.description|safe }}

    <ul class="row masonry-grid-fitrows">
        {% for product in products %}
            {% render_product product %}
        {% endfor %}
    </ul>

    {% if block.link_url %}
        <a href="{{ block.link_url }}">{% trans "See more" %}</a>
    {% endif %}
</section>
{% endblock %}
